dialog {
   position: absolute;
   top: 200px;
   width: auto;
   margin-left: 60px;
   margin-right: 60px;
   height: 500px;

   background: #FFFFFF;
   border: solid 3px #999999;
   border-radius: 6px;
}