// bower:scss
// endbower

html {
   height: 100%;
}
body {
   height: 100%;
   padding-top: 50px;
   position: relative;
}

#body { height: 100%; }
#log {
   height: 100%;
   width: 100%;
   overflow: auto;

   button {
      display: block;
      position: absolute;
      bottom: 12px;
      right: 35px;
   }

   .table {
      table-layout: fixed;

      tr {
         td:nth-child(1){
            width: 30px;
         }
         td:nth-child(2){
            white-space: pre;
            font-family: monospace;
            overflow: hidden;
         }
         td:nth-child(3){
            width: 140px;
         }
      }

      tr.log-error, tr.log-fatal {
         color: $state-danger-text;
         background-color: $state-danger-bg;

         span.glyphicon {
            @extend .glyphicon-exclamation-sign;
         }
      }

      tr.log-warn {
         color: $state-warning-text;
         background-color: $state-warning-bg;

         span.glyphicon {
            @extend .glyphicon-warning-sign;
         }
      }

      tr.log-info {
         color: $state-info-text;
         /*background-color: $state-info-bg;*/

         span.glyphicon {
            @extend .glyphicon-info-sign;
         }
      }

      tr.log-debug {

         span.glyphicon {
            @extend .glyphicon-wrench;
         }
      }

      tr.log-trace {
         color: $text-muted;

         span.glyphicon {
            @extend .glyphicon-wrench;
         }
      }

   }
}